<div class="card">
  <div class="flex justify-between">
    <div>
      <h2>Product</h2>
    </div>
    <div>
      <p-button label="Add Product" severity="success" icon="pi pi-plus" routerLink="/product/add"/>
    </div>
  </div>

  @if (productStore.products()) {
    <p-table
      [value]="productStore.products()"
      [paginator]="true"
      [rows]="pageSize"
      [first]="first"
      [totalRecords]="productStore.total()"
      [rowsPerPageOptions]="[5, 10, 20]"
      [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [lazy]="true"
      (onLazyLoad)="onDataChange($event)"
      [tableStyle]="{ 'min-width': '70rem' }"
    >
      <ng-template #header>
        <tr>
          <th>SL</th>
          <th>Name</th>
          <th>Brand</th>
          <th>Company</th>
          <th>Image</th>
          <th>Employee Offer Price</th>
          <th>Weight</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </ng-template>

      <ng-template #body let-product let-i='rowIndex'>
        <tr>
          <td>{{ first + i + 1 }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.brand }}</td>
          <td>{{ product.company }}</td>
          <td>
            <div class="image-box">
              <!--              <img-->
              <!--                [src]="'data:image/png;base64,' + product.image"-->
              <!--                [alt]="product.name"-->
              <!--                class="image"-->
              <!--              />-->

              <img
                [src]="product.image"
                [alt]="product.name"
                class="image"
              />
            </div>
          </td>
          <td>৳ {{ product.discountedPrice }}</td>
          <td>{{ product.weightValue }} {{ product.weightUnit }}</td>
          <td>
            <p-tag
              [value]="product.inventoryStatus"
            />
          </td>
          <td>
            <p-button icon="pi pi-pencil" [rounded]="true" [text]="true" (click)="updateProduct(product)"/>
            <p-button icon="pi pi-times" [rounded]="true" [text]="true" severity="danger"
                      (click)="removeProduct(product._id, $event)"/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  }

  <p-toast/>
  <p-confirm-popup/>
</div>
