<div class="card">
  <div class="p-6 bg-white rounded-2xl shadow-md">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Name -->
        <div>
          <label class="block mb-1 text-md font-semibold text-gray-700">Product Name</label>
          <input pInputText formControlName="name" placeholder="Enter product name" class="w-full"/>
        </div>

        <!-- Brand -->
        <div>
          <label class="block mb-1 text-md font-semibold text-gray-700">Brand Name</label>
          <p-select
            formControlName="brand"
            [options]="brandOptions"
            optionLabel="label"
            optionValue="value"
            placeholder="Select a brand"
            class="w-full"
          />
        </div>

        <!-- Company -->
        <div>
          <label class="block mb-1 text-md font-semibold text-gray-700">Company Name</label>
          <p-select
            formControlName="company"
            [options]="companyOptions"
            optionLabel="label"
            optionValue="value"
            placeholder="Select a company"
            class="w-full"
          />
        </div>

        <!-- Original Price -->
        <div>
          <label class="block mb-1 text-md font-semibold text-gray-700">Original Price</label>
          <p-inputNumber formControlName="originalPrice" mode="currency" currency="BDT" class="w-full"></p-inputNumber>
        </div>

        <!-- Discounted Price -->
        <div>
          <label class="block mb-1 text-md font-semibold text-gray-700">Employee Offer Price</label>
          <p-inputNumber formControlName="discountedPrice" mode="currency" currency="BDT"
                         class="w-full"></p-inputNumber>
        </div>

        <!-- Weight -->
        <div>
          <label class="block mb-1 text-md font-semibold text-gray-700">Weight</label>
          <p-inputgroup>
            <input
              pInputText
              formControlName="weightValue"
              placeholder="Enter weight"
              class="w-full"
            />
            <p-select
              [options]="weightUnits"
              formControlName="weightUnit"
              optionLabel="label"
              optionValue="value"
              styleClass="w-24"
            />
          </p-inputgroup>
        </div>

        <!-- Inventory Status -->
        <div>
          <label class="block mb-1 text-md font-semibold text-gray-700">Inventory Status</label>
          <p-dropdown [options]="statusOptions" formControlName="inventoryStatus" optionLabel="label"
                      optionValue="value"
                      placeholder="Select status" class="w-full"></p-dropdown>
        </div>

        <!-- Image -->
        <div>
          <label class="block mb-1 text-md font-semibold text-gray-700">Product Image</label>
          <input type="file" accept="image/*" (change)="onFileSelected($event)" class="w-full border rounded p-2"/>

          <!-- Preview -->
          <div *ngIf="previewUrl" class="mt-3">
            <img [src]="previewUrl" alt="Preview" class="w-50 h-40 object-cover rounded-lg border"/>
          </div>
        </div>
      </div>

      <div class="flex justify-end">
        <p-button [label]="mode" icon="pi pi-check" type="submit" [disabled]="productForm.invalid"/>
      </div>
    </form>
  </div>
</div>
